.content-home {
    padding-top: 120px;
    max-width: 100%;
    margin: auto;
}

.carousel-edit {
    width: 95%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid yellow;
    padding: 30px;
    border-radius: 20px;
    color: white;
    z-index: 50;
}

.card-content {
    width: 95%;  
    margin: auto;
    
}
.card-content-plan {
  width: 100%;  
  margin: auto;
}

.card-edit {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    animation: fadeIn 2s ease-in-out;
}
.card-edit-plan {
  width: 100%;
  margin: auto;
  background-color: white; 
  color: black;
  border-radius: 0;
}

.card-edit-plan i{
  color: black;
}
hr{
  margin: 0;
  padding: 0; 
}
.edit-hr {
  border: none;
  background-color: yellow;
  opacity: unset;
}

.h1-edit {
  height: 200px;
  background-color: black;
  color: white;
}

.color-h1 {
  color: white;
}
.background-article {
  background: black;
} 

.card-uni {
  color: black;
  background: white;
  border: solid 4px white;
}
.card-uni:hover {
  color: black;
  background: white;
  border: solid 4px yellow;
}

.btn-uni {
  font-weight: 500;
  color: black;
  background: yellow;
  border: 2px solid black;
}
.btn-uni:visited {
  font-weight: 500;
  color: black;
  background: yellow;
  border: 2px solid black;
}
.btn-uni:focus {
  font-weight: 500;
  color: black;
  background-color: yellow;
  border: 2px solid black;
  text-decoration: none;
}

.btn-uni.active {
  font-weight: 500;
  color: black;
  background-color: yellow;
  border: 2px solid black;
  text-decoration: none;
}

.btn-uni:hover{
  font-weight: 500;
  color: white;
  background-color: black;
  border: 2px solid yellow;
  text-decoration: none;
}

article + article {
  margin-top: 0;
  padding-top: 0;
}


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(300px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



